# Cours initiation au machine learning avec pandas/ Traitement de fichier avec pandas

## I. IMPORTATION DU DATAFRAME

In [ ]:
# Importation du module pandas
import pandas as pd

:

In [ ]:
# Importation du dataframe depuis la documentation de pandas
# vous pouvez changer le nom de la variable df par le nom de votre choix
df = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv', sep=',')
print("Les 10 premières lignes sont : ")
df.head(3)

In [ ]:
#☻ les types de données
print("Les types de données sont :")
df.dtypes

In [ ]:
# Affichage des informations sur les données du dataframe
df.info()

In [ ]:
# Affichage des dernières ligne du fichiers, par défaut 5 lignes
print("Les 5 dernières lignes soont :")
df.tail()

In [ ]:
# Nombre de lignes et colonnes du dataframe
print("Le nombre de lignes est :", df.shape[0])
print("Le nombre de colonnes est :", df.shape[1])

In [ ]:
# Conversion du fichier csv en fichier excel
# Pour cela il faut installer le package openpyxl pour le traitement des fichiers excel
# Importation du module openpyxl
import openpyxl
df.to_excel("convert.xlsx", sheet_name="passager", index=False)

In [ ]:
# Attribution d'une nouvelle variable au nouveau fichier excel
new_file = pd.read_excel("convert.xlsx", sheet_name="passager")
# sauvegarder dans le fichier convert.xlsx
# Affichage des 5 premières lignes du fichier excel
new_file.head()

#  II. Selection de sous ensemble d'un dataframe

1. Dans cette partie nous allons nous intéressé à certaines colonnes uniquement de notre dataframe
- Avec toujours les données du Titanic disponoble sur la documentation de pandas

In [ ]:
# Nous voulons nous intéressé a la colonne Age de notre dataframe

# d'abord on declare une variable(ici: ages)

ages = df["Age"]
# Affichage de quelques lignes de la variable ages
print("Quelques lignes de la variable ages sont : \n", ages.head())
print("\n")
print("Le type de données de la variable ages est : ", ages.dtypes)
print("\n")
print("Le nombre de ligne total de la variable age est :", ages.shape[0])

In [ ]:
# Maintenant nous allons nous intéresser à la variable age et sexe
age_sex = df[["Age" , "Sex"]]
# Si vous voulez cibler des colonnes spécifiques, vous devez utiliser les doubles crochets [[]] et y listé les colonnes (comme ci-dessus)
print("Quelques lignes : ")
age_sex.head()

# Filtrage des lignes spécifiques dans un dataframe
- Suppons que dans votre dataframe, vous avez la variable age avec differentes age et vous avez bésoin que d'une tranche d'âge.
cette partie vous permettra de faire cette manipulation

In [ ]:
# Je sui intéressé par les personnes de plus de 35 ans
# Vous pouvez utiliser les opérations de comparaison au milieu des crochets
age_sup_35 = df[df["Age"]> 35]
age_sup_35.head()

In [ ]:
# Nombre de ligne et colonne
print(f"Nous avons {age_sup_35.shape[0]} lignes de plus de 35 ans et {age_sup_35.shape[1]} colonnes")

In [ ]:
# Filtrage des lignes dont l'âge est supérieur à 35, ce qui renvoie une série de booléens
df["Age"] > 35

In [ ]:
# Je m'intéresse au passager de classe 2 et 3
classe_2_3 = df[df["Pclass"].isin([2,3])]

# Affichage de l'entête
classe_2_3.head(10)

In [ ]:
# Nombre de ligne et colonne
print(f"Le nombre de ligne est : {classe_2_3.shape[0]} et le nombre de colonne est : {classe_2_3.shape[1]}")

In [ ]:
# Puisque les données sont sont issues d'une enquête certain variable sont peut être vide (NAN)
# Prenons le cas de l'âge où il y'a certaine personne qui n'ont pas mis leur âge pour des raisons personnelles
age_no = df[df["Age"].notna()]
# Affichage des 5 1ères lignes
age_no.head()

In [ ]:
# Nombre total de personne ayant renseigné leur âge
print(f"Le nombre total de personne ayant renseigné leur âge est : {age_no.shape[0]}")